In [1]:
#Import libraries
import pandas as pd
import numpy as np

In [2]:
#Load the data
data_preprocessed = pd.read_csv('Absenteeism_preprocessed.csv')

In [3]:
data_preprocessed

,reason_1,reason_2,reason_3,reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month Value,Day of the Week,Absenteeism Time in Hours
0,0,0,0,1,289,36,33,239.554,30,0,2,1,7,1,4
1,0,0,0,0,118,13,50,239.554,31,0,1,0,7,1,0
2,0,0,0,1,179,51,38,239.554,31,0,0,0,7,2,2
3,1,0,0,0,279,5,39,239.554,24,0,2,0,7,3,4
4,0,0,0,1,289,36,33,239.554,30,0,2,1,7,3,2
5,0,0,0,1,179,51,38,239.554,31,0,0,0,7,4,2
6,0,0,0,1,361,52,28,239.554,27,0,1,4,7,4,8
7,0,0,0,1,260,50,36,239.554,23,0,4,0,7,4,4
8,0,0,1,0,155,12,34,239.554,25,0,2,0,7,0,40
9,0,0,0,1,235,11,37,239.554,29,1,1,1,7,0,8
10,1,0,0,0,260,50,36,239.554,23,0,4,0,7,0,8
11,1,0,0,0,260,50,36,239.554,23,0,4,0,7,1,8
12,1,0,0,0,260,50,36,239.554,23,0,4,0,7,2,8
13,1,0,0,0,179,51,38,239.554,31,0,0,0,7,2,1
14,0,0,0,1,179,51,38,239.554,31,0,0,0,7,2,4
15,1,0,0,0,246,25,41,239.554,23,0,0,0,7,4,8
16,0,0,0,1,179,51,38,239.554,31,0,0,0,7,4,2
17,0,0,1,0,179,51,38,239.554,31,0,0,0,7,0,8
18,1,0,0,0,189,29,33,239.554,25,0,2,2,7,3,8
19,0,0,0,1,248,25,47,205.917,32,0,2,1,8,2,2
20,1,0,0,0,330,16,28,205.917,25,1,0,0,8,2,8
21,1,0,0,0,179,51,38,205.917,31,0,0,0,8,0,1
22,1,0,0,0,361,52,28,205.917,27,0,1,4,8,0,40
23,0,0,0,1,260,50,36,205.917,23,0,4,0,8,4,4
24,0,0,1,0,289,36,33,205.917,30,0,2,1,8,0,8
25,0,0,0,1,361,52,28,205.917,27,0,1,4,8,0,7
26,0,0,0,1,289,36,33,205.917,30,0,2,1,8,1,1
27,0,0,0,1,157,27,29,205.917,22,0,0,0,8,2,4
28,0,0,1,0,289,36,33,205.917,30,0,2,1,8,2,8
29,0,0,0,1,179,51,38,205.917,31,0,0,0,8,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,155,12,34,246.288,25,0,2,0,4,1,4
671,0,0,1,0,225,26,28,246.288,24,0,1,2,4,3,8
672,1,0,0,0,118,13,50,246.288,31,0,1,0,4,3,2
673,0,0,0,1,179,26,30,246.288,19,1,0,0,4,4,2
674,0,0,0,1,235,11,37,237.656,29,1,1,1,5,0,8
675,0,0,1,0,225,15,41,237.656,28,1,2,2,5,2,3
676,0,0,0,1,235,16,32,237.656,25,1,0,0,5,2,2
677,1,0,0,0,118,10,37,237.656,28,0,0,0,5,2,3
678,0,0,0,1,235,20,43,237.656,38,0,1,0,5,2,8
679,1,0,0,0,179,26,30,237.656,19,1,0,0,5,3,1
680,0,0,0,1,291,31,40,237.656,25,0,1,1,5,3,2
681,1,0,0,0,225,15,41,237.656,28,1,2,2,5,3,8
682,0,0,1,0,300,26,43,237.656,25,0,2,1,5,4,64
683,0,0,0,1,225,15,41,237.656,28,1,2,2,5,4,8
684,0,0,0,1,179,26,30,237.656,19,1,0,0,5,4,2
685,0,0,0,1,118,13,50,237.656,31,0,1,0,5,0,2
686,1,0,0,0,118,13,50,237.656,31,0,1,0,5,1,3
687,0,0,0,1,118,10,37,237.656,28,0,0,0,5,1,1
688,0,0,0,0,118,13,50,237.656,31,0,1,0,5,1,0
689,0,0,0,1,179,26,30,237.656,19,1,0,0,5,2,2
690,0,0,0,0,378,49,36,237.656,21,0,2,4,5,2,0
691,0,1,0,0,179,22,40,237.656,22,1,2,0,5,4,1
692,1,0,0,0,155,12,34,237.656,25,0,2,0,5,0,48
693,1,0,0,0,235,16,32,237.656,25,1,0,0,5,0,8
694,0,0,0,1,291,31,40,237.656,25,0,1,1,5,2,8
695,1,0,0,0,179,22,40,237.656,22,1,2,0,5,2,8
696,1,0,0,0,225,26,28,237.656,24,0,1,2,5,2,3
697,1,0,0,0,330,16,28,237.656,25,1,0,0,5,3,8
698,0,0,0,1,235,16,32,237.656,25,1,0,0,5,3,2
699,0,0,0,1,291,31,40,237.656,25,0,1,1,5,3,2

In [4]:
#Targets
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [5]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours']>data_preprocessed['Absenteeism Time in Hours'].median(), 1, 0)

In [6]:
data_preprocessed['Excessive Absenteeism'] = targets

In [7]:
data_preprocessed.head(10)

,reason_1,reason_2,reason_3,reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month Value,Day of the Week,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,289,36,33,239.554,30,0,2,1,7,1,4,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,7,1,0,0
2,0,0,0,1,179,51,38,239.554,31,0,0,0,7,2,2,0
3,1,0,0,0,279,5,39,239.554,24,0,2,0,7,3,4,1
4,0,0,0,1,289,36,33,239.554,30,0,2,1,7,3,2,0
5,0,0,0,1,179,51,38,239.554,31,0,0,0,7,4,2,0
6,0,0,0,1,361,52,28,239.554,27,0,1,4,7,4,8,1
7,0,0,0,1,260,50,36,239.554,23,0,4,0,7,4,4,1
8,0,0,1,0,155,12,34,239.554,25,0,2,0,7,0,40,1
9,0,0,0,1,235,11,37,239.554,29,1,1,1,7,0,8,1

In [8]:
targets.sum()/targets.shape[0]

0.45571428571428574

In [9]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours'], axis=1)

In [10]:
data_with_targets is data_preprocessed

False

In [11]:
data_with_targets.head()

,reason_1,reason_2,reason_3,reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month Value,Day of the Week,Excessive Absenteeism
0,0,0,0,1,289,36,33,239.554,30,0,2,1,7,1,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,7,1,0
2,0,0,0,1,179,51,38,239.554,31,0,0,0,7,2,0
3,1,0,0,0,279,5,39,239.554,24,0,2,0,7,3,1
4,0,0,0,1,289,36,33,239.554,30,0,2,1,7,3,0

In [12]:
#Selecting the inputs for the logistic regression
data_with_targets.shape

(700, 15)

In [13]:
unscaled_inputs = data_with_targets.iloc[:, :-1]
unscaled_inputs

,reason_1,reason_2,reason_3,reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month Value,Day of the Week
0,0,0,0,1,289,36,33,239.554,30,0,2,1,7,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,7,1
2,0,0,0,1,179,51,38,239.554,31,0,0,0,7,2
3,1,0,0,0,279,5,39,239.554,24,0,2,0,7,3
4,0,0,0,1,289,36,33,239.554,30,0,2,1,7,3
5,0,0,0,1,179,51,38,239.554,31,0,0,0,7,4
6,0,0,0,1,361,52,28,239.554,27,0,1,4,7,4
7,0,0,0,1,260,50,36,239.554,23,0,4,0,7,4
8,0,0,1,0,155,12,34,239.554,25,0,2,0,7,0
9,0,0,0,1,235,11,37,239.554,29,1,1,1,7,0
10,1,0,0,0,260,50,36,239.554,23,0,4,0,7,0
11,1,0,0,0,260,50,36,239.554,23,0,4,0,7,1
12,1,0,0,0,260,50,36,239.554,23,0,4,0,7,2
13,1,0,0,0,179,51,38,239.554,31,0,0,0,7,2
14,0,0,0,1,179,51,38,239.554,31,0,0,0,7,2
15,1,0,0,0,246,25,41,239.554,23,0,0,0,7,4
16,0,0,0,1,179,51,38,239.554,31,0,0,0,7,4
17,0,0,1,0,179,51,38,239.554,31,0,0,0,7,0
18,1,0,0,0,189,29,33,239.554,25,0,2,2,7,3
19,0,0,0,1,248,25,47,205.917,32,0,2,1,8,2
20,1,0,0,0,330,16,28,205.917,25,1,0,0,8,2
21,1,0,0,0,179,51,38,205.917,31,0,0,0,8,0
22,1,0,0,0,361,52,28,205.917,27,0,1,4,8,0
23,0,0,0,1,260,50,36,205.917,23,0,4,0,8,4
24,0,0,1,0,289,36,33,205.917,30,0,2,1,8,0
25,0,0,0,1,361,52,28,205.917,27,0,1,4,8,0
26,0,0,0,1,289,36,33,205.917,30,0,2,1,8,1
27,0,0,0,1,157,27,29,205.917,22,0,0,0,8,2
28,0,0,1,0,289,36,33,205.917,30,0,2,1,8,2
29,0,0,0,1,179,51,38,205.917,31,0,0,0,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,155,12,34,246.288,25,0,2,0,4,1
671,0,0,1,0,225,26,28,246.288,24,0,1,2,4,3
672,1,0,0,0,118,13,50,246.288,31,0,1,0,4,3
673,0,0,0,1,179,26,30,246.288,19,1,0,0,4,4
674,0,0,0,1,235,11,37,237.656,29,1,1,1,5,0
675,0,0,1,0,225,15,41,237.656,28,1,2,2,5,2
676,0,0,0,1,235,16,32,237.656,25,1,0,0,5,2
677,1,0,0,0,118,10,37,237.656,28,0,0,0,5,2
678,0,0,0,1,235,20,43,237.656,38,0,1,0,5,2
679,1,0,0,0,179,26,30,237.656,19,1,0,0,5,3
680,0,0,0,1,291,31,40,237.656,25,0,1,1,5,3
681,1,0,0,0,225,15,41,237.656,28,1,2,2,5,3
682,0,0,1,0,300,26,43,237.656,25,0,2,1,5,4
683,0,0,0,1,225,15,41,237.656,28,1,2,2,5,4
684,0,0,0,1,179,26,30,237.656,19,1,0,0,5,4
685,0,0,0,1,118,13,50,237.656,31,0,1,0,5,0
686,1,0,0,0,118,13,50,237.656,31,0,1,0,5,1
687,0,0,0,1,118,10,37,237.656,28,0,0,0,5,1
688,0,0,0,0,118,13,50,237.656,31,0,1,0,5,1
689,0,0,0,1,179,26,30,237.656,19,1,0,0,5,2
690,0,0,0,0,378,49,36,237.656,21,0,2,4,5,2
691,0,1,0,0,179,22,40,237.656,22,1,2,0,5,4
692,1,0,0,0,155,12,34,237.656,25,0,2,0,5,0
693,1,0,0,0,235,16,32,237.656,25,1,0,0,5,0
694,0,0,0,1,291,31,40,237.656,25,0,1,1,5,2
695,1,0,0,0,179,22,40,237.656,22,1,2,0,5,2
696,1,0,0,0,225,26,28,237.656,24,0,1,2,5,2
697,1,0,0,0,330,16,28,237.656,25,1,0,0,5,3
698,0,0,0,1,235,16,32,237.656,25,1,0,0,5,3
699,0,0,0,1,291,31,40,237.656,25,0,1,1,5,3

In [14]:
#Standardizing the data
from sklearn.preprocessing import StandardScaler
absenteeism_scaler = StandardScaler()

In [15]:
absenteeism_scaler.fit(unscaled_inputs)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [16]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [17]:
scaled_inputs.shape

(700, 14)

In [18]:
#Splitting the date for training and testing
from sklearn.model_selection import train_test_split

In [19]:
train_test_split(scaled_inputs, targets)

[array([[ 1.73205081, -0.09298136, -0.31448545, ...,  0.26848661,
         -0.95931334, -1.35968157],
        [-0.57735027, -0.09298136, -0.31448545, ...,  2.8430157 ,
         -0.67380342, -0.68370352],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.58968976,
         -1.24482327, -1.35968157],
        ...,
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.58968976,
         -0.67380342,  1.34423065],
        [-0.57735027, -0.09298136, -0.31448545, ...,  1.12666297,
         -0.10278357, -1.35968157],
        [-0.57735027, -0.09298136, -0.31448545, ...,  0.26848661,
          1.32476605, -1.35968157]]),
 array([[-0.57735027, -0.09298136, -0.31448545, ..., -0.58968976,
         -0.3882935 , -1.35968157],
        [ 1.73205081, -0.09298136, -0.31448545, ..., -0.58968976,
         -0.3882935 , -1.35968157],
        [-0.57735027, -0.09298136, -0.31448545, ...,  0.26848661,
          1.32476605, -0.68370352],
        ...,
        [-0.57735027, -0.09298136,  3.17979734, ...,  0.26848661,
          0.46823627, -1.35968157],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.58968976,
          0.18272635,  0.66825259],
        [ 1.73205081, -0.09298136, -0.31448545, ...,  1.12666297,
         -0.95931334, -1.35968157]]),
 array([0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
        1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
        1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
        0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0,
        1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0,
        1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
        1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1,
        1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1,
        1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
        0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
        0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0,
        1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
        0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0,
        0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
        1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1,
        0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
        0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
        1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
        0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0]),
 array([0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
        0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
        0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
        0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
        1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0,
        1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1,
        0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1])]

In [20]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(525, 14) (525,)
(175, 14) (175,)

In [21]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size=0.8, shuffle=True, random_state=20)

In [22]:
y_test.shape

(140,)

In [23]:
#Fitting the Model and Assessing it's accuracy
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [24]:
##training the model
reg = LogisticRegression()

In [25]:
reg.fit(x_train, y_train)

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
reg.score(x_train, y_train)

0.7839285714285714

In [27]:
##Manually check the accuracy
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [28]:
np.sum(model_outputs == y_train)/model_outputs.shape[0]  #the accuracy from the model is correct!

0.7839285714285714

In [29]:
#Creating a Summary Table with the coefficient and Intercept
reg.intercept_

array([-0.21957576])

In [30]:
reg.coef_

array([[ 2.07452213,  0.33466331,  1.56097327,  1.32750188,  0.70649077,
        -0.03995965, -0.2009517 , -0.00462411,  0.31937669, -0.13558227,
         0.38168134, -0.33338757,  0.1878226 , -0.07060017]])

In [31]:
feature_name = unscaled_inputs.columns.values

In [32]:
summary_table = pd.DataFrame(columns=['Feature name'], data=feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

               Feature name  Coefficient
0                  reason_1     2.074522
1                  reason_2     0.334663
2                  reason_3     1.560973
3                  reason_4     1.327502
4    Transportation Expense     0.706491
5          Distance to Work    -0.039960
6                       Age    -0.200952
7   Daily Work Load Average    -0.004624
8           Body Mass Index     0.319377
9                 Education    -0.135582
10                 Children     0.381681
11                     Pets    -0.333388
12              Month Value     0.187823
13          Day of the Week    -0.070600

In [33]:
##Adding interception at the first place
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

               Feature name  Coefficient
0                 Intercept    -0.219576
1                  reason_1     2.074522
2                  reason_2     0.334663
3                  reason_3     1.560973
4                  reason_4     1.327502
5    Transportation Expense     0.706491
6          Distance to Work    -0.039960
7                       Age    -0.200952
8   Daily Work Load Average    -0.004624
9           Body Mass Index     0.319377
10                Education    -0.135582
11                 Children     0.381681
12                     Pets    -0.333388
13              Month Value     0.187823
14          Day of the Week    -0.070600

In [34]:
#Interpreting the coefficients for our Problem
summary_table['odds_ratio'] = np.exp(summary_table.Coefficient)
summary_table

               Feature name  Coefficient  odds_ratio
0                 Intercept    -0.219576    0.802859
1                  reason_1     2.074522    7.960741
2                  reason_2     0.334663    1.397470
3                  reason_3     1.560973    4.763455
4                  reason_4     1.327502    3.771610
5    Transportation Expense     0.706491    2.026866
6          Distance to Work    -0.039960    0.960828
7                       Age    -0.200952    0.817952
8   Daily Work Load Average    -0.004624    0.995387
9           Body Mass Index     0.319377    1.376270
10                Education    -0.135582    0.873207
11                 Children     0.381681    1.464745
12                     Pets    -0.333388    0.716492
13              Month Value     0.187823    1.206619
14          Day of the Week    -0.070600    0.931834

In [35]:
summary_table.sort_values('odds_ratio', ascending=False)

               Feature name  Coefficient  odds_ratio
1                  reason_1     2.074522    7.960741
3                  reason_3     1.560973    4.763455
4                  reason_4     1.327502    3.771610
5    Transportation Expense     0.706491    2.026866
11                 Children     0.381681    1.464745
2                  reason_2     0.334663    1.397470
9           Body Mass Index     0.319377    1.376270
13              Month Value     0.187823    1.206619
8   Daily Work Load Average    -0.004624    0.995387
6          Distance to Work    -0.039960    0.960828
14          Day of the Week    -0.070600    0.931834
10                Education    -0.135582    0.873207
7                       Age    -0.200952    0.817952
0                 Intercept    -0.219576    0.802859
12                     Pets    -0.333388    0.716492